@model MODELS.NGHIEPVU.MODELParking
@{
    ViewData["Title"] = "PopupDetail";
}
<head>
    
<script src='https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.js'></script>
<link href='https://cdn.jsdelivr.net/npm/@@goongmaps/goong-js@1.0.9/dist/goong-js.css' rel='stylesheet' />

</head>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmProduct", @class = "forms-sample" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id, new { id = "Id" })
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Thêm mới bãi đậu xe</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="closePopUp()"></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <!-- Row 1: Parking Code và Name -->
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Mã bãi đậu xe
                        </label>
                        @Html.TextBoxFor(model => model.ParkingCode, new { @class = "form-control", id = "ParkingCode" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Tên bãi đậu xe
                        </label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "Name" })
                    </div>
                </div>
            </div>

            <!-- Row 2: Latitude và Longitude -->
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Vĩ độ
                        </label>
                        @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control", id = "Latitude", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Kinh độ
                        </label>
                        @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control", id = "Longitude", @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-primary" id="selectLocationButton">Chọn vị trí từ bản đồ</button>
                </div>
            </div>


            <!-- Row 3: Zip Code và Image -->
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Mã zip
                        </label>
                        @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control", id = "ZipCode" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Hình ảnh
                        </label>
                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
            </div>

            <!-- Row 4: Address và District -->
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Địa chỉ
                        </label>
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", id = "Address" })
                    </div>
                </div               
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Tỉnh / Thành Phố
                        </label>
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control", id = "Address" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Quận / Huyện
                        </label>
                        @Html.TextBoxFor(model => model.District, new { @class = "form-control", id = "District" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Phường / Xã
                        </label>
                        @Html.TextBoxFor(model => model.Ward, new { @class = "form-control", id = "Ward" })
                    </div>
                </div>
            </div>

            <!-- Row 5: Province và Total Slots -->
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Tổng số chỗ
                        </label>
                        @Html.TextBoxFor(model => model.TotalSlots, new { @class = "form-control", id = "TotalSlots", type = "number" })
                    </div>
                </div>
            </div>

            <!-- Row 6: Description -->
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Mô tả
                        </label>
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "Description", rows = 3 })
                    </div>
                </div>
            </div>

            <!-- Row 7: Open Time và Close Time -->
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Giờ mở cửa
                        </label>
                        @Html.TextBoxFor(model => model.OpenTime, new { @class = "form-control", id = "OpenTime", type = "time" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="col-form-label">
                            Giờ đóng cửa
                        </label>
                        @Html.TextBoxFor(model => model.CloseTime, new { @class = "form-control", id = "CloseTime", type = "time" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="btnLuu" class="btn btn-success"><i class="fas fa-check-square"></i> Lưu</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="closePopUp()">Đóng</button>
    </div>
}


<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mapModalLabel">Chọn vị trí trên bản đồ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id='map' style='width: 400px; height: 300px;'></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="confirmLocation">Xác nhận vị trí</button>
            </div>
        </div>
    </div>
</div>






<script>
    goongjs.accessToken = 'KYkkudSdfBH0NAtFwoHDGFiel5w83BaSaGgevbCW';
    var map = new goongjs.Map({
    container: 'map',
    style: 'https://tiles.goong.io/assets/goong_map_web.json', // stylesheet location
    center: [105.83991, 21.02800], // starting position [lng, lat]
    zoom: 9 // starting zoom
    });
</script>



<script>
    // Khi nhấn nút "Chọn vị trí từ bản đồ"
    document.getElementById("selectLocationButton").addEventListener("click", function () {
        // Hiển thị modal với ID mapModal
        var mapModal = new bootstrap.Modal(document.getElementById("mapModal"));
        mapModal.show();
    });
</script>



